.tent-service span{
font-size: 20px;
padding-right: 30px;
cursor: pointer;


}
.tent-service span:hover{
    color: #004da0 ;
    transform: scale(1.03);
    text-shadow: #212529;


}.custom-shadow-all{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.custom-shadow-all:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
