.package-regi-from form{
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    justify-content: center;
    align-items: center;
   margin-bottom: 10px;
   /* padding: 10px; */
}
.package-regi-from form input{

    width: 90%;
    /* padding: 5px 50px !important; */
    margin: 5px 0;
    height: 40px;

    border: 3px solid #5a5b5c;


}.submit-btn{
     /* border: 2px solid; */
 width: 40% !important;
     border-image: linear-gradient(to right, rgb(0, 204, 255), darkorchid) 1; 
     background: linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(59, 57, 63, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(64, 64, 241, 0.8), rgba(0,0,255,0) 70.71%);
            font-size: 25px;
            
            color: rgb(255, 255, 255);


}
.location-frame{
    position: relative;
    cursor: pointer;
 
 } .location-img-title {
     position: absolute;
   margin-left: 20px;
     bottom: 10px;
     color: rgb(179, 162, 238);
 
 
 } .location-details {
     position: absolute;
     bottom: 3px;
     color: rgb(135, 110, 226);
     right: 7%;
     font-size: 20px;
 
 }
 .location-frame:hover{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }