.heading{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0;
   margin-bottom: 20px;
    
}
.user-booking-detail{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 0;
   margin-bottom: 20px;
    
}