.login-img-shadow{
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
}
.input-email-pass{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}.account-create{
    cursor: pointer;
    font-size: 18px;
}.account-create:hover{
    transform: scale(1.06);
    border-bottom: 1px solid blue;
}
.hr-style{

  width: 80%;
    border: 1px solid rgba(0, 0, 0, 0);
}
.google-Icon{
    width: 45px;
    cursor: pointer;
}
.google-Icon:hover{
    transform: scale(1.2);
    border: 2px solid rgb(0, 0, 0);
}
.custom-log-in-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}